@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.experimental-log {
  .log__chart-tile {
    min-height: 24rem;
    margin-bottom: $spacing-05;
  }

  .log__note {
    color: $text-secondary;
    font-style: italic;
  }

  .log__bullet-item {
    padding-left: 1.75rem;
    text-indent: -1rem;

    &--first {
      margin-top: $spacing-04;
    }
  }
}
