@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;

.theme-distribution {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.theme-loading,
.theme-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  color: $text-secondary;
  @include type-style('body-01');
}

.chart-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: $spacing-03;
}
